<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node.js + express + serialport + now.js</title>
    
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/nowjs/now.js"></script>
    <script type="text/javascript" src="javascripts/jquery.xcolor.min.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
</head>

<body>

  <div id="messages">
    <div id="colourValue"></div>
    <div id="serialValue"></div>
  </div>
  <input type="text" id="text-input">
  <input type="button" value="Send" id="send-button">
  
</body>
 
</html>